@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

::selection {
  color: #fff;
  background-color: #EF9F44;
}

.header {
  height: 100vh;
  background-color: #273739;
}

.header__content {
  display: flex;
  height: 100%;
}

.header__left {
  width: 30%;
  position: relative;
}

.header__left img {
  width: 120%;
  position: absolute;
  bottom: 10rem;
  left: 0;
}

.header__center {
  width: 50%;
  text-align: center;
  justify-content: center;
}

.header__right {
  width: 30%;
  position: relative;
}

.header__right img {
  width: 110%;
  position: absolute;
  bottom: 10rem;
  right: 0;
}

.header__attention {
  display: flex;
  text-align: center;
  width: 48%;
  margin: 0 auto;
  margin-top: 15rem;
  background-color: #E46113;
  color: #fff;
  cursor: pointer;
  padding: 2px;
  font-size: 13px;
  transition: all 0.4s;
}

.header__attention:hover {
  transform: scale(1.05);
}

.header__attention--left {
  padding-left: 15px;
  padding-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.header__attention--left span {
  font-weight: 500;
  margin-left: 10px;
}

.header__attention--right {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header__attention--right p {
  margin-right: 15px;
}

.header__attention--right i {
  font-size: 10px;
}

.header__title {
  margin: 1.2rem 0;
  color: #fff;
  font-size: 5.5rem;
  line-height: 1.4;
}

.header__title span {
  display: block;
}

.header__text {
  color: #fff;
  font-size: 2rem;
  padding: 0 10rem;
}

.header__button {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.header__button .btn__classic {
  padding: 1.4rem 2.5rem;
}

.header__button button {
  margin-left: 2rem;
  border: none;
  background: none;
  color: #fff;
  display: flex;
  align-items: center;
  display: inline-block;
  font-size: 17px;
}

.header__button button i {
  transition: all 0.4s;
  font-size: 12px;
}

.header__button button a {
  text-decoration: none;
  margin-left: 1rem;
  color: #fff;
  font-weight: 600;
  padding-bottom: 8px;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
  transition: all 0.4s;
}

.header__button:hover .header__btn i {
  transform: translateX(6px);
}

.header__button:active .header__btn i {
  transform: translateX(-2px);
}

.header__button:hover .header__btn a {
  border-bottom: 1.5px solid white;
}

.sidebar {
  padding: 2.5rem 7rem;
  display: flex;
  height: 10vh;
  background: #273739;
  justify-content: space-between;
  align-items: center;
}

.sidebar--sticky {
  content: "";
  position: sticky;
  top: 0;
  left: 0;
  width: inherit;
  height: 8vh;
  background: #273739b7;
  z-index: 20;
}

.sidebar__icon {
  width: 18rem;
  cursor: pointer;
}

.sidebar__content {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.sidebar__list {
  display: flex;
  margin-right: 4rem;
  align-items: center;
  list-style: none;
}

.sidebar__item:not(:last-child) {
  margin-right: 2rem;
}

.sidebar__link {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
  font-weight: 500;
}

.sidebar__link:hover {
  color: #EF9F44;
}

.btn__classic {
  text-decoration: none;
  color: #fff;
  background-color: #EF9F44;
  padding: 8px 20px;
  font-weight: 600;
  transition: all 0.1s;
}

.btn__classic:hover {
  background-color: #4594A1;
}

.about-us {
  cursor: pointer;
}

.about-us__content {
  padding: 3rem 5rem;
  position: absolute;
  right: 7rem;
  top: 10rem;
  background-color: #fff;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(2, 22rem);
  grid-column-gap: 6rem;
  grid-row-gap: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s;
}

.about-us__content--item h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 15px;
  transition: all 0.2s;
  font-weight: 600;
}

.about-us__content--item p {
  color: #444;
  font-size: 13px;
  transition: all 0.2s;
}

.about-us__content--item:hover h4 {
  color: #9E9B98;
}

.about-us__content--item:hover p {
  color: #9E9B98;
}

.about-us:hover .about-us__content {
  top: 8rem;
  visibility: visible;
  opacity: 1;
}

.Video-Experience__content {
  padding: 3rem 5rem;
  position: absolute;
  right: 15rem;
  top: 10rem;
  background-color: #fff;
  display: flex;
  transition: all 0.7s;
  visibility: hidden;
  opacity: 0;
}

.Video-Experience__content h4 {
  color: #444;
  font-size: 14px;
}

.Video-Experience__content p {
  font-size: 14px;
  color: #444;
}

.Video-Experience__first {
  width: 32rem;
  margin-right: 5rem;
}

.Video-Experience__first > * {
  display: flex;
  align-items: center;
}

.Video-Experience__first h4 {
  color: #444;
  font-size: 14px;
}

.Video-Experience__first svg {
  width: 100%;
}

.Video-Experience__first aside {
  margin-left: -23rem;
  color: #444 !important;
}

.Video-Experience__first aside h4 {
  color: #444;
}

.Video-Experience__first aside p {
  font-size: 14px;
  color: #444;
}

.Video-Experience__second {
  width: 20rem;
  margin-right: 5rem;
}

.Video-Experience__third {
  width: 20rem;
  margin-top: 2rem;
}

.Video-Experience__item {
  margin: 2rem 0;
  cursor: pointer;
  transition: all 0.3s;
}

.Video-Experience__content:hover .Video-Experience__item:not(:hover) {
  opacity: 0.6;
}

.Video-Experience:hover .Video-Experience__content {
  top: 8rem;
  visibility: visible;
  opacity: 1;
}

.three {
  margin-right: 3rem;
}

.four {
  margin-right: 3rem;
}

.btn {
  border: none;
  background: none;
  color: #fff;
  display: flex;
  align-items: center;
  display: inline-block;
  font-size: 17px;
}

.btn i {
  transition: all 0.4s;
  font-size: 12px;
}

.btn a {
  text-decoration: none;
  margin-left: 1rem;
  color: #fff;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.8);
  transition: all 0.4s;
}

.btn:hover .btn__icon {
  transform: translateX(6px);
}

.btn:active .btn__icon {
  transform: translateX(-2px);
}

.btn:hover .btn__text {
  border-bottom: 1.5px solid white;
}

.enterprise {
  text-align: center;
  background-color: #4594A1;
  padding: 5rem 3rem;
}

.enterprise h2 {
  color: #fff;
  font-size: 3.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.enterprise__container {
  display: flex;
}

.enterprise__logo {
  width: 200px;
  margin-left: 9rem;
}

.enterprise__logo svg {
  transform: scale(0.35);
}

.communication {
  background-color: #fff;
}

.communication__content {
  width: 60%;
  margin: 15rem auto;
  display: flex;
}

.communication__left {
  flex: 0 0 45%;
  margin-right: 10rem;
  height: 29rem;
  margin-top: 4rem;
}

.communication__left iframe {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.communication__right {
  flex: 0 0 45%;
  font-weight: 500;
}

.communication__right--first {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #E86113;
  margin-bottom: 5px;
}

.communication__right--h3 {
  font-size: 5rem;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

.communication__right--h3 span {
  display: block;
}

.valuable {
  background-color: #273739;
  padding: 8rem 0;
  height: 90vh;
}

.valuable__text {
  text-align: center;
  color: #fff;
}

.valuable__text h3 {
  font-size: 5rem;
  font-weight: 600;
}

.valuable__text p {
  font-size: 15px;
}

.valuable__text p span {
  display: block;
}

.valuable__content {
  margin-top: 5rem;
}

.valuable__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 80%;
  margin: 0 auto;
}

.valuable__item {
  list-style-type: none;
}

.valuable__link {
  margin: 0 5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  position: relative;
  text-align: center;
  padding-bottom: 8px;
  position: relative;
}

.valuable__link::after {
  position: absolute;
  content: '';
  width: 120%;
  height: 2.5px;
  background: rgba(255, 255, 255, 0.3);
  left: -10px;
  bottom: 0;
}

.valuable__link--1 {
  color: #EF9F44;
  grid-row: 1/2;
  grid-column: 1/2;
}

.valuable__link--1::after {
  background: #EF9F44;
}

.valuable__link--2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.valuable__link--2:focus {
  color: #EF9F44;
}

.valuable__link--2:focus::after {
  background: #EF9F44 !important;
}

.valuable__link--3 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.valuable__link--3:focus {
  color: #EF9F44;
}

.valuable__link--3:focus::after {
  background: #EF9F44 !important;
}

.valuable__link--4 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.valuable__link--4:focus {
  color: #EF9F44;
}

.valuable__link--4:focus::after {
  background: #EF9F44 !important;
}

.valuable__link--5 {
  grid-column: 5/6;
  grid-row: 1/2;
}

.valuable__link--5:focus {
  color: #EF9F44;
}

.valuable__link--5:focus::after {
  background: #EF9F44 !important;
}

.valuable__link--6 {
  grid-column: 6/-1;
  grid-row: 1/2;
}

.valuable__link--6:focus {
  color: #EF9F44;
}

.valuable__link--6:focus::after {
  background: #EF9F44 !important;
}

.valuable__link--2:focus ~ .valuable__link--1 {
  color: #fff;
}

.valuable__link--2:focus ~ .valuable__link--1::after {
  background: rgba(255, 255, 255, 0.3);
}

.valuable__link--3:focus ~ .valuable__link--1 {
  color: #fff;
}

.valuable__link--3:focus ~ .valuable__link--1::after {
  background: rgba(255, 255, 255, 0.3);
}

.valuable__link--4:focus ~ .valuable__link--1 {
  color: #fff;
}

.valuable__link--4:focus ~ .valuable__link--1::after {
  background: rgba(255, 255, 255, 0.3);
}

.valuable__link--5:focus ~ .valuable__link--1 {
  color: #fff;
}

.valuable__link--5:focus ~ .valuable__link--1::after {
  background: rgba(255, 255, 255, 0.3);
}

.valuable__link--6:focus ~ .valuable__link--1 {
  color: #fff;
}

.valuable__link--6:focus ~ .valuable__link--1::after {
  background: rgba(255, 255, 255, 0.3);
}

.valuable__link--content {
  position: absolute;
  margin-top: 20rem;
}

.valuable__link--content--1 img {
  width: 300px;
}

.valuable__link--content--2 {
  opacity: 0;
  visibility: hidden;
}

.valuable__link--content--2 img {
  width: 300px;
}

.valuable__link--content--3 {
  opacity: 0;
  visibility: hidden;
}

.valuable__link--content--3 img {
  width: 300px;
}

.valuable__link--content--4 {
  opacity: 0;
  visibility: hidden;
}

.valuable__link--content--4 img {
  width: 300px;
}

.valuable__link--content--5 {
  opacity: 0;
  visibility: hidden;
}

.valuable__link--content--5 img {
  width: 300px;
}

.valuable__link--content--6 {
  opacity: 0;
  visibility: hidden;
}

.valuable__link--content--6 img {
  width: 300px;
}

.valuable__link--focus:focus + .valuable__link--1 {
  color: #fff;
}

.valuable__link--2:focus ~ .valuable__link--1 .valuable__link--content--1 {
  opacity: 0;
  visibility: hidden;
}

.valuable__link--3:focus ~ .valuable__link--1 .valuable__link--content--1 {
  opacity: 0;
  visibility: hidden;
}

.valuable__link--4:focus ~ .valuable__link--1 .valuable__link--content--1 {
  opacity: 0;
  visibility: hidden;
}

.valuable__link--5:focus ~ .valuable__link--1 .valuable__link--content--1 {
  opacity: 0;
  visibility: hidden;
}

.valuable__link--6:focus ~ .valuable__link--1 .valuable__link--content--1 {
  opacity: 0;
  visibility: hidden;
}

.valuable__link--2:focus .valuable__link--content--2 {
  visibility: visible;
  opacity: 1;
}

.valuable__link--3:focus .valuable__link--content--3 {
  visibility: visible;
  opacity: 1;
}

.valuable__link--4:focus .valuable__link--content--4 {
  visibility: visible;
  opacity: 1;
}

.valuable__link--5:focus .valuable__link--content--5 {
  visibility: visible;
  opacity: 1;
}

.valuable__link--6:focus .valuable__link--content--6 {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */