$color-primary:#EF9F44;

$color-blue-dark:#273739;
$color-blue-light:#4594A1;



* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
     
}


::selection {
    color: #fff;
    background-color: $color-primary;
}