.sidebar {

    padding: 2.5rem 7rem;
    display: flex;
    height: 10vh;
    background: #273739;
    justify-content: space-between;
    align-items: center;

    &--sticky {
        content: "";
        position: sticky;
        top: 0;
        left: 0;
        width: inherit;
        height: 8vh;
        background: #273739b7;
        z-index: 20;
    }

    &__icon {
        width: 18rem;
        cursor: pointer;

    }

    &__content {
        display: flex;
        align-items: center;
        margin-top: -10px;

    }

    &__list {
        display: flex;
        margin-right: 4rem;
        align-items: center;
        list-style: none;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {
        text-decoration: none;
        color: #fff;
        transition: all 0.3s;
        font-weight: 500;

        &:hover {
            color: $color-primary;
        }
    }

}